#top_line {
  color: #5c5a5a;
  height: 28px;
  font-size: 12px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  font-size: 11px;
  visibility: visible;
  opacity: 1;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
  z-index: 999999;
}

.nav-personalized{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-black{
  background-color: rgba(0, 0, 0, 0.5);
}
.h2_rooms{
  text-align: center;
  margin-bottom: 1rem;
}

.card_img{
 height: 12rem;
}
.card_container{
  display: flex !important;
  justify-content: center !important;
  justify-items: center !important;
}
.col{
  display: flex !important;
  justify-content: center !important;
  justify-items: center !important;
}

